:root {
  --main-font: "Open Sans", sans-serif;
  --background: #585578;
  --primary-font-color: #fdf8fc;
}

.App {
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-font-color);
}

.App-header ul {
  list-style: none;
  display: inline-flex;
  padding: 30px 0 20px 0;
}

.App-header h1 {
  position: relative;
  bottom: -7px;
  padding-left: 12px;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 600;
}

.App-logo {
  max-width: 60px;
}
