.Meaning h3 {
  text-align: initial;
}

.meanings p {
  margin-bottom: 0;
}

.definition {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: initial;
}

.example {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
  line-height: 1;
  text-align: justify;
}

.border {
  padding: 15px;
  background-color: var(--secondary-font-color);
}

.meanings {
  padding: 5px 15px 0 15px;
}
