.Results h1 {
  font-size: 40px;
  font-weight: 400;
}

.Definition {
  color: var(--primary-font-color);
}

.line {
  color: var(--primary-font-color);
  height: 5px;
  opacity: 100%;
  width: 65%;
  margin: 0 auto;
}
