.Results h1 {
  font-size: 40px;
  font-weight: 400;
}

.Results ul {
  margin-bottom: 0;
}

.Definition {
  color: var(--primary-font-color);
}

.line {
  color: var(--primary-font-color);
  opacity: 100%;
  width: 65%;
  margin: 0 auto;
}

section {
  border-color: pink;
  border: 10px;
  padding: 20px;
  border-radius: 5px;
}
